{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
		<h1>Welcome</h1>
		<p>hello from twig template {{ name }}!</p>

		<ul>
			{% for color in colors %}
				<li>{{ color }}</li>
			{% endfor %}
		</ul>
{% endblock %}